:root {
  --color-bg:     #FFFFFF;
  --color-bg-2:   #222222;
  --color-txt:    #222222;
  --color-txt-2:  #F4EDE7;
  --color-anchor: #0DAD7A;
  --color-border: #222222;
  --color-tint:   #6B543E;

  --font-family: "Ubuntu", "Helvetica Neue", "Roboto", sans-serif;
  --font-size: 18px;

  --spacing: 10px;
  --shadow: 1px 1px 5px #222;
}

// Responsive widths.
$mobile:  600px;
$tablet:  768px;
$desktop: 1140px;

@media (min-width: $tablet) {
  :root {
    --spacing: 20px;
  }
}

@keyframes glide {
  0%   { width: 0; }
  50%  { width: 80%; }
  100% { width: 80%; }
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slidein {
  0% { left: -9000px; }
  100% { left: 0; }
}