.alignnone,
.aligncenter,
.alignleft,
.alignright,
.alignwide {
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
}


.alignright { 
  float: right; 
  margin: 0 0 1em 1em;
}

.alignleft { 
  float: left; 
  margin: 0 1em 1em 0;
}

.aligncenter { 
  display: block;
  margin-left: auto; 
  margin-right: auto;
}

/* Clear floats */
section::after,
article::after {
  content: "";
  display: table;
  clear: both;
}

.page-links {
  padding-top: calc(var(--spacing) * 2);
  clear: both; 
}