.wp-block-embed__wrapper,
.wp-block-gallery { 
  overflow-x: auto;
}

.wp-block-cover,
.wp-block-cover-text {
  color: var(--color-txt-2);
}

.wp-block-button {
  margin-bottom: var(--spacing);
}

.wp-block-button__link,
.wp-block-file .wp-block-file__button {
  background-color: var(--color-scheme);
  color: var(--color-txt-2);
  border-radius: var(--border-radius);
  transition: all .3s ease-in-out;

  &:hover {
    background-color: var(--color-bg-2);
  }
}

.is-style-outline .wp-block-button__link {
  background-color: transparent;
  border-color: var(--color-scheme);
  color: var(--color-scheme);

  &:hover {
    background-color: transparent;
    border-color: var(--color-bg-2);
    color: var(--color-bg-2);
  }
}

.wp-block-pullquote blockquote {
  border: 0;
}

.wp-block-pullquote.is-style-solid-color {
  border-radius: var(--border-radius);
}

.wp-block-file .wp-block-file__button,
.wp-block-file .wp-block-file__button-richtext-wrapper {
  display: table;
  margin: calc(var(--spacing) * 0.5) 0 var(--spacing);
  font-size: 1.2rem;
}