.entry-footer {
  display: grid;
  grid-template-columns: minmax(0, 100%);
  grid-gap: var(--spacing);
  margin: calc(var(--spacing) * 4) 0;
}

.post-categories,
.post-tags {
  span:first-child {
    font-size: .8rem;
    font-weight: 500;
    text-transform: uppercase;
  }  
}

.post-categories {

}

.post-tags {
  display: flex;
  flex-wrap: wrap;
  font-size: .8rem;


  > * {
    margin: 0 calc(var(--spacing) * 0.25) calc(var(--spacing) * 0.25) 0;
  }
}