/* Post format: Gallery */
.format-gallery {
}

/* Post format: Image */
.format-image {

}

/* Post format: Audio */
.format-audio {

}

/* Post format: Video */
.js {
  .format-video {
    iframe,
    embed,
    object {
      width: 100%;
    }
  }
}

/* Post format: Aside */
body.archive .format-aside {
  background-color: #FFF9C0;
  padding: calc(var(--spacing) * 0.5);
}

/* Post format: Status */
body.archive .format-status {
  article {
    font-size: 1.2rem;
    font-weight: var(--font-weight-bold);
  }
}

/* Post format: Link */
body.archive .format-link {
  article {
    font-size: 1.4rem;
    font-weight: var(--font-weight-bold);
  }
}

/* Post format: Quote */
.format-quote {
  article {
    font-size: 1.2rem;
    font-weight: var(--font-weight-bold);
  }

  blockquote {
    border: none;
    padding: 0 2em;
    position: relative;

    &::before,
    &::after {
      position: absolute;
      font-size: 3rem;
    }

    &::before {
      content: '“';
      top: 0;
      left: 0;
    }

    &::after {
      content: '”';
      bottom: 0;
      right: 0;
    }
  }
}

/* Post format: Chat */
.format-chat {
  article {
    border: 0.0625em solid var(--color-border);
    padding: 1em;
    font-style: italic;
  }
}