.top-bar {
  background-color: var(--color-bg-2);
  color: var(--color-txt-2);
  display: grid;
  grid-template-columns: minmax(0, auto) minmax(0, 100px) minmax(0, calc(1040px - var(--spacing))) minmax(0, auto); 
  grid-gap: var(--spacing);
  align-items: center;
  padding: calc(var(--spacing) * 0.5) 0;
  font-size: .7rem;

  > *:first-child {
    grid-column: 2;
  }

  a {
    color: var(--color-txt-2);
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }
}

.top-bar-languages,
.top-bar-links {
  display: grid;
}

.top-bar-languages {
  grid-template-columns: repeat(auto-fit, minmax(0, auto));
  grid-gap: 10px;
  justify-content: start;

  img {
    width: 20px;
  }
}

.top-bar-links {
  justify-items: end;
  justify-content: end; 
}

.desmo2020-phone,
.desmo2020-email {
  display: grid;
  grid-template-columns: 16px minmax(0, auto);
  align-items: center;
}

body.has-featured-image {
  .top-bar {
    position: relative;
    z-index: 10;
  }
}

@media (min-width: $mobile) {
  .top-bar-languages {
    img {
      width: auto;
    }
  }

  .top-bar-links {
    grid-template-columns: repeat(2, minmax(0, auto));
    grid-gap: var(--spacing);
  }
}