input,
textarea,
select {
  background-color: #FFFFFF;
  color: #000000;
  padding: .3em .5em;
  padding: .15em .25em;
  max-width: calc(100% - 1em);
  border-radius: var(--border-radius);
}

input,
textarea,
select,
button {
  border: 0.0625em solid var(--color-scheme);
}

/* iOS not respecting border-radius */
input[type="search"] {
  -webkit-appearance: none;
}

input[type="color"],
input[type="submit"],
input[type="button"],
input[type="reset"],
button {
  cursor: pointer;
}

input[type="submit"],
input[type="button"],
input[type="reset"],
button,
.comment-edit-link,
.comment-reply-link,
.post-edit-link,
.page-links > a,
.post-tags > a {
  background-color: var(--color-scheme);
  color: var(--color-txt-2);
  border: 0;
  border-radius: var(--border-radius);
  padding: .25em .50em;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: none;
  transition: all .3s ease-in-out;
  font-size: 1.2rem;

  &:hover {
    background-color: var(--color-bg-2);
    border-color: var(--color-bg-2);
    text-decoration: none;
  }
}

.post-edit-link,
.post-tags > a {
  font-size: .8rem;
}

label {

}

fieldset {
  min-width: 0px;
}

.search-form,
.post-password-form p:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
}

.post-password-form input[type="password"] {
  display: block;
}

.post-password-form input[type="submit"] {
  position: relative;
  height: 50%;
  bottom: 0;
  margin-top: auto;
  border: 0.0625em solid var(--color-scheme);
}

.search-form .search-field,
.post-password-form input[type="password"] {
  max-width: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-form .search-submit,
.post-password-form input[type="submit"] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0
}